.layout {
  min-height: 100vh;

  .sidebar {
    width: 16.6667%;
    background-color: #f3f4f6;
    padding: 16px;
  }

  .main-content {
    width: 83.3333%;
    padding: 16px;
    background-color: white;
  }

  @media (max-width: 600px) {
    flex-direction: column; 

    .sidebar,
    .main-content {
      width: 100%;
    }
  }
}
